

<div id='tasks'>
  <%= form_tag("/tasks/complete/", method: :post) do %>
  <ul>
  <% @tasks.each do |task| %>
    <% if task.completed == true %>
      <li>
        <%= check_box_tag 'tasks_checkbox[]', task.id %> <strike><%= task.title %></strike>
      </li>
    <% else %>
      <li>
        <%= check_box_tag 'tasks_checkbox[]', task.id %><%= task.title %>
      </li>
    <% end %>
  <% end %>
  </ul>
  <%= submit_tag("Complete Tasks") %>
  <% end %>
</div>
